.custom_input {
  font-size: 14px;
  width: 100%;
}

.custom_input:focus {
  outline: none;
}

.custom_input::placeholder {
  color: #757575;
}

.table {
  background: white;
  padding: 5px;
  border-radius: 16px;
}

.icon {
  opacity: 75%;
}

.icon:hover {
  opacity: 100%;
}

.text_label {
  font-size: 14px;
}

.text_label:active {
  font-size: 10px !important;
}