.custom_input {
  font-size: 14px;
  width: 100%;
}

.custom_input:focus {
  outline: none;
}

.custom_input::placeholder {
  color: #757575;
}

.table {
  background: white;
  padding: 5px;
  border-radius: 16px;
}

.icon {
  opacity: 75%;
}

.icon:hover {
  opacity: 100%;
}

.text_label {
  font-size: 14px;
}

.text_label:active {
  font-size: 10px !important;
}

label {
  font-size: 14px !important;
}

.group_create {
  background-color: #4ecb71;
  border-radius: 12px;
  white-space: nowrap;
  height: 25px;
  font-size: 12px;
  border: 1px solid red;
}