
* {
    font-family: "Inter", sans-serif;
}

.custom_input {
  font-size: 14px;
  width: 100%;
}

.custom_input:focus {
  outline: none;
}

body{
  overflow: hidden;
}

.custom_input::placeholder {
  color: #757575;
}

.calcWidth {
  width:  calc(100vw - 90px);
}

.table {
  background: white;
  padding: 5px;
  border-radius: 16px;
}

.icon {
  opacity: 75%;
}

.icon:hover {
  opacity: 100%;
}

.filterElement {
  position: relative;
}

.countFilter {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #82abf6;
  border-radius: 50%;
  font-size: 10px;
  color: white;
}

.text_label:active {
  font-size: 10px !important;
}

.v-select__menu-icon {
  color: #274D87;
  font-size: 28px !important;
}

.v-autocomplete__menu-icon {
  color: #274D87;
  font-size: 28px !important;
}

.v-selection-control .v-label{
  opacity: 1 !important
}

.group_create {
  background-color: #4ecb71;
  border-radius: 12px;
  white-space: nowrap;
  height: 25px;
  font-size: 12px;
  border: 1px solid red;
  padding: 0 5px;
}

.v-container {
  padding: 0px
}

.date .v-field__input {
  display: block !important
}

.v-data-table-header__content {
  font-weight: 600 !important;
  color: #524ED8;
}

.v-selection-control--density-default {
  --v-selection-control-size: 40px;
  color: #524ed8;
}

.custom_search .v-field.v-field--prepended {
  --v-field-padding-start: 6px;
  height: 49.6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

.v-list-item-title {
  z-index: 999999999 !important;
  font-size: 18px !important;
}

.v-list-item--density-default.v-list-item--one-line {
  min-height: 34px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.fz-12 {
  font-size: 12px !important;
}

.v-table > .v-table__wrapper > table > tbody > tr > td, .v-table > .v-table__wrapper > table > tbody > tr > th, td, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > td, .v-table > .v-table__wrapper > table > tfoot > tr > th {
  padding: 15px;
  font-size: 16px;
}

.blackout_page {
  position: absolute;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_create_based {
  position: absolute;
  z-index: 99999;
}
